.Planes-root{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Planes-title{
    font-weight: 200;
}
.Planes-noOfPlanes{
    font-weight: 600; 
    font-size: 3rem; 
    margin: 0.7rem 0;
}
.Planes-container{
    padding:0.5em;
    display:flex;
    border-radius: 25%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#d14143;
}