.PlanesInfo-root {
    display: grid;
    font-size: 0.7rem;
    padding:1em;
    grid-template-rows: 3rem auto;
}

.PlanesInfo-header {
    flex-grow: 1;
    display: grid;
    padding: 1em;
    color:#777;
    font-size: 0.6rem;
    grid-template-columns: 40% 20% 20% 20%;
}

.PlanesInfo-row {
    display: grid;
    padding: 0.5em;
    margin:0.5rem 0rem;
    grid-template-columns: 40% 20% 20% 20%;
    background: white;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
}